body{
    font-family: sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: #333;
}
h1{
    margin: 0;
}
.col-200{
    width: 200px;
}
.col-max{
    flex: 3 0;
}

.flex{
    display: flex;
    align-items: flex-start;
}
.space-between{
    justify-content: space-between;
}
@media (max-width: 620px) {
    .flex{
        display: flex;
        flex-direction: column;
    }
    .col-200{
        width: 100%;
    }
    .col-max{
        width: 100%;
    }
}
.header{
    background: #E5E5E5;
    color: #AAA;
    font-size: 30px;
    padding: 50px;
    text-align: center;
    font-weight: bold;
}
.list-link{
    padding-top: 10px;
}
.list-link li a{
    text-align: center;
    text-transform: capitalize;
    display: block;
    background: #E5E5E5;
    padding: 10px;
    margin-bottom: 10px;
}
.post{
    display: inline-block;
    padding: 20px;
    background: #FF0;
    box-sizing: border-box;
}
.post h1 a{
    text-decoration: none;
    color: #AAA;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 25px;
}
.post p{
    color: #AAA;
}
.about{
    background: #E5E5E5;
    margin-top: 10px;
    padding: 10px;
}
.about h1{
    text-align: center;
}
.about h1 a{
    color: #AAA;
    font-size: 25px;
    font-weight: bold;
}
.about p{
    text-align: center;
    font-size: 18px;
    color: #AAA;
}
.footer{
    margin-top: 10px;
    background: #E5E5E5;
    color: #aaa;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}